@font-face {
    font-family: 'Lato';
    src: url('../font/lato/Lato-Bold.woff2') format('woff2'),
        url('../font/lato/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/lato/Lato-Regular.woff2') format('woff2'),
        url('../font/lato/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/lato/Lato-Medium.woff2') format('woff2'),
        url('../font/lato/Lato-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bitter';
    src: url('../font/bitter/Bitter-Bold.woff2') format('woff2'),
    url('../font/bitter/Bitter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

