$white:#fff;
$black:#000000;
$grey:#DFDEF1;
$orange:#E77726;
$light-black:#373737;
$violet:#2E296B;
$p-color:#5B5B64;
$blue:#3D3A72;
$light-violet:#7771EB;
$dark-blue:#007bb6;
$red:#a82400;
$dark-violet:#1E1B4A;
$darken-violet:#3C3970;